@import '../../../styles/settings.scss';


  .AppBar {
      background: $base-color;
  }
  .login {
      text-decoration: none;
      color: $text-color-light;
      font-family: $text-font;
  }
  .brand {
      font-family: $logo-font;
  }
  .menuButton {
     margin-right: 1rem;
  }

  .toolbar {
    justify-content: space-between;
  }

