@import "../../../styles/settings.scss";

.root {
  .mainContainer {
    display: flex;
  }

  .mainConnection {
    width: 100%;
  }

  .mainImageBtn {
    height: 100%;
    width: 100%;
  }

  .mainImageTxt {
    position: absolute;
  }

  .secConnection {
    height: 40%;
    width: 35%;
  }
}
